To complete the development of this BashTaskMaster script, we will need the following components:

1) Perform caluculations
2) Reading through a given file
3) Deleting a given file
4) Rename a given file
5) Search through a given file
6) Display the last column in a given file
7) Display which grade can read contents in a given file
8) Copies file to a remote server
9) generates random number every 3seconds
10) Check the length of a file and redirect the output to a new file, overwriting whatever that's there
11) Check the length of a given file 
12) Create a nested directory and copy it to another directory
13) Print a million numbers but it should display page by page
14) Display recent commands
15) Print only lines starting with a specified word in a file
16) See process info
17) Bash customization with cpu info
18) Bash customization with neo info
19) Delete a directory
20) Strip off a file extension
21) Exit program


#!/bin/bash

echo "What would you like to do? "
echo
echo -e "1. Perform calculations\n2. Read a file\n3. Delete a file\n4. Rename a file\n5. Search through a file for specific words\n6. Display the last column in a file using awk\n7. Display which grade can read the contents in a given file\n8. Copy file to a remote server\n9. Generate random number every 3 seconds\n10. Display any given column in a file\n11. Check the length of a file\n12. Create a nested directory\n13.Print a million numbers but it should display page by page\n14. Print only lines starting with specified words in a file\n15. See processes\n16. Strip off a file extension\n17. Delete a directory\n18. Create the three basic files in a directory\n20. Generate ssh key\n21. Exit program"

read -p "Select a task to execute: " select

function addition() {
    result=$(( $1 + $2 ))
    echo "The result is: $result"
}

function substraction() {
    result=$(( $1 - $2 ))
    echo "The result is: $result"
}

function division() {
    result=$(( $1 / $2 ))
    echo "The result is: $result"
}

function multiply() {
    result=$(( $1 * $2 ))
    echo "The result is: $result"
}

function basic_calculation() {
    echo -e "1. Addition\n2. Subtraction\n3. Division\n4. Multiplication"
    read -p "Which calculation would you like to perform? " choice

    read -p "Enter the first number: " num1
    read -p "Now the second: " num2

    if [ "$choice" == 1 ]
    then
        addition $num1 $num2
    elif [ "$choice" == 2 ]
    then
        substraction $num1 $num2
    elif [ "$choice" == 3 ]
    then
        division $num1 $num2
    elif [ "$choice" == 4 ]
    then
        multiply $num1 $num2
    else
        echo "Invalid option"
    fi
}

function read_file() {
    read -p "file name: " file
    if [ -f "$file" ]
    then   
        awk '{print $0}' "$file"
    else
        echo "Cannot read a file that doesn't exist. $file does not exist"
    fi
}

function delete_file() {
    read -p "Name of the file: " file
    if [ -f "$file" ]
    then
        rm "$file"
    else
        echo "Can't delete a file that doesn't exist. $file does not exist"
    fi
}

function rename_file() {
    read -p "The current name of the file: " current_name
    read -p "The name you want it to be changed to: " new_name
    if [ -f "$current_name" ]
    then
        mv "$current_name" "$new_name"
    else
        echo "Can't rename a file that doesn't exist. $current_name does not exist"
    fi
}

function search_file() {
    read -p "File name: " file_name
    read -p "Word you want to search for: " word
    if [ -f "$file" ]
    then    
        grep -n -w -i -v "$word" "$file_name"
    else
        echo "Can't search through a file that doesn't exist. $file_name does not exist"
    fi
}

function display_last_column() {
    read -p "Name of file: " file_name
    if [ -f "$file_name" ]
    then 
        awk '{print NF}' "$file_name"; awk '{print "This line has",NF,"columns. The last one contains",$NF}' "$file_name"
    else
        echo "can't display column of a file that doesn't exist. $file_name does not exist"
    fi
}

function grade_reader() {
    read -p "File name: " file_to_read
    if [ -f "$file_to_read" ]
    then
        cat "$file_to_read"
        words=$(wc -w "$file_to_read" | cut -d ' ' -f 1)
        char=$(cat "$file_to_read" | tr -d '[:punct:] [:space:]' | wc -m)
        sentences=$(cat "$file_to_read" | grep -oE '[.!?]' | grep -c .)

        L=$(echo "$char / $words * 100" | bc -l)
        S=$(echo "100 * $sentences / $words" | bc -l)
        CLI=$(bc <<< "0.0588 * $L - 0.296 * $S - 15.8")
        roundup_CLI=$(printf "%.0f" "$CLI")

        if [ "$roundup_CLI" -ge 16 ]
        then    
            echo "Grade 16+"
        elif [ "$roundup_CLI" -lt 1 ]
        then
            echo "Before grade 1"
        else
            echo "Grade $roundup_CLI"
        fi
    else
        echo "$file_to_read does not exist"
    fi
}

function remote_server() {
    read -p "File: " file_name
    read -p "Server: " remote_server
    if [ -f "$file_name" ]
    then
        if [ -n "$file_name" ]
        then
            scp "$file_name" "$remote"
        else
            echo "Provide a proper remote server"
    else
        echo "$file_name does not exist"
    fi
}

function generate_random() {
    while true
    do
        random_num=$((RANDOM))
        echo "Random number is: $random_num"
        sleep 3
    done
}

function display_column() {
    read -p "File here: " file
    read -p "Desired column number: " column
    if [ -f "$file" ]
    then
        awk -v col="$column" '{print $column}' "$file"
    else
        echo "$file doesn't exist"
    fi
}

function file_length() {
    read -p "File name: " file_name
    if [ -f "$file" ]
    then
        du -b "$file_name" | cut -f1; echo "File size is: $file_name"
    else
        echo "$file_name doesn't exist"
    fi
}

function nest_directory() {
    read -p "First directory name : " first_name
    read -p "Now second: " second_name
    read -p "Now third: " third_name

    if [ -z "$first_name" ] || [ -z "$second_name" ] || [ -z "$third_name" ]
    then   
        echo "Directory name cannot be empty"
        exit
    fi
    
    if [ -e "$first_name/$second_name/$third_name" ]
    then
        echo "Directory doesn't exist"
        exit
    fi

    mkdir -p "$first_name/$second_name/$third_name"

    if [ "$?" -eq 0 ]
    then
        echo "Successfully created"
    else
        echo "An error occured"
    fi
}

function print_numbers() {
    for i in {0..2000}
    do
        echo $i | less
    done
}

function print_lines() {
    read -p "Enter a file: " file
    read -p "Word you want to search for: " word
    if [ -f "$file" ]
    then
        awk '/^"$word" {print $0}' "$file"
    else
        echo "$file doesn't exist"
    fi
}

function process() {
    ps
}

function stripoff_extension() {
    
}

if [ "$select" == 1 ]
then
    basic_calculation
elif [ "$select" == 2 ]
then
    read_file
elif [ "$select" == 3 ]
then
    delete_file
elif [ "$select" == 4 ]
then
    rename_file
elif [ "$select" == 5 ]
then 
    search_file
elif [ "$select" == 6 ]
then
    display_last_column
elif [ "$select" == 7 ]
then
    grade_reader
elif [ "$select" == 8 ]
then
    remote_server
elif [ "$select" == 9 ] 
then
    generate_random
elif [ "$select" == 10 ]
then
    display_column
elif [ "$select" == 11 ]
then
    file_length
elif [ "$select" == 12 ]
then
    nest_directory
elif [ "$select" == 13 ]
then
    print_numbers
elif [ "$select" == 14 ]
then
    print_lines
elif [ "$select" == 15 ]
then
    process
elif [ "$select" == 16 ]
then

fi